/*css rest*/

*{padding:0;margin:0;
	box-sizing:border-box;}
body{position: relative; font-family: frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size: 16px; line-height: 28px;}
a{text-decoration: none; color: #333;}
a:hover{text-decoration: underline;}
ul{list-style-type: none; margin: 0; padding: 0;}
.left{float:left;}
.right{float:right;}
.container {width: 100%!important;
	margin: 0;
	padding: 0;max-width:1200px;margin:0 auto;}
.container:after{content:" ";display:table;clear:both;}
.clear:after{content:" ";display:block;clear:both;}
.clearfix:after{content:" ";display:block;clear:both;}
#container{-webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in;}
h3{font-size:18px;font-weight:normal;}

/*header*/
#header{
	width:100%;
	height:36px;
	background:#5D5D58;
}
#header .header li{
	float:left;		
}
#header .header li a{
	display:inline-block;
	height:36px;
	line-height:36px;
	padding:0 15px;
	color:#ccc;
	text-decoration: none;
}
#header .header li a:hover{
	background-color: #333333;
}
#header .header li.now a{
	background:#fff;
	color:#333;
}
#logo-box .logo{
	margin:10px 0;
}
#logo-box .loginTools{
	margin-top: 20px;
}
#logo-box .loginTools li:first-child{
	margin-right: 10px;
	margin-top:5px;

}
#logo-box .loginTools li:first-child a{
	padding: 0 10px;
}
#logo-box .loginTools .weichat{
	position:relative
}
#logo-box .loginTools .weichat-code{
	position:absolute;
	top:20px;
	right:-38px;
	display:none;
	z-index:10;
}
/*主导航*/
#nav{
	background: #f7f7f7;
	border-top:1px solid #eee;
}
#nav-list{
    border-bottom:1px solid #eee;

}
#nav-list .navlist{
	height:54px;
	line-height:52px;
	border-top: 1px solid #eee;
}
#nav-list .navlist li{
	float:left;
}
#nav-list .navlist li a{
	display:inline-block;
	height:52px;
	border-bottom:2px solid transparent;
	margin:0 18px;


}
#nav-list .navlist li a:hover{
	border-bottom:2px solid #cb3034;
	color:#e22835;
	text-decoration: none;
}
#nav-list .navlist li .i-want{
	padding-left:24px;
	background: url(../images/user_icon.png) no-repeat left center;

}
#nav-list .navlist li.iwant{
	margin-right:10px;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	border-radius:5px;
	height:52px;
	background:#fff;
}
#nav-list .navlist li .i-want i{
	background:url(../images/icon_slide_down.png) no-repeat center center;
	display:inline-block;
	width:15px;
	height:7px;
	margin-left:10px;
}
#nav-list .navlist li .i-want:hover{
	border-bottom:2px solid transparent;
	color:#e22835;
}
#nav-list .navlist li .i-want:hover i{
	background:url(../images/icon_slide_up.png) no-repeat center center;
}
#nav-list .search-box .search{
	max-width:150px;
	height:36px;
	margin-top:10px;
	border:none;

}
#nav div.nav-cont-wrap a:hover{color:#337ab7;}
/*i-want下拉列表*/
#nav .i-want-wrap{display:none;}
#nav .i-want-wrap>div{
	float:left;
	margin-top:10px;
}
#nav .i-want-wrap img{
	margin-left:48px;
}
#nav div.cus-bg,#nav div.pro{
	margin-left:36px;
	margin-top:0;
}
#nav .cus-bg span a,#nav .pro span a{display:block;margin-top:10px;}
#nav .more{
	margin-top:20px;
}
#nav .middle-pc{margin-left:48px}
#nav .tohuawei{margin-left:132px}
#nav .tohuawei span{
	display: block;height:38px}
/*行业洞察*/
#nav .hydc-wrap{
	display: none;}
#nav .hydc_wrap>div{float:left;margin-top:10px}

#nav .hydc_wrap .text-style-1 span{
	display: block;
	border-bottom:1px solid #ddd;
	width:300px;
	height:48px;
	line-height:48px;
}
#nav .hydc_wrap .text-style-1 span a{
	font-size:18px;
}
#nav .pc-test{
	width:300px;text-align:left;margin-top:10px
}

/*解决方案*/
#nav .solution{
	display: none;}
#nav .solution .row>div{float:left;margin-top:10px}
#nav .color-990000{
	display: block;
	color: #990000;margin-bottom:10px;}

#nav span{
	display:block;
	height:36px;
}
#nav .solution .last_child{/*margin-left:54px*/}
/*服务*/
#nav .service{margin-top:10px;
	display: none; }
#nav .service .col-sm-3{
	float: left;
	margin-left: 36px;
    width:300px;
}
/*#main news1 新闻轮播*/
#main .news1{
	background-color: #f7f7f7;
	margin:15px auto 0 ;
	line-height:60px;
	margin-bottom:15px;
}
#main .col-xs-2{width:12.667%;}
#main .col-xs-2 h3 a:hover{
	color:#000;
}
#main .col-xs-1{width:12.333%;}
#main .news-item-box{overflow:hidden; height:60px;}
#main ul.swiper-wrapper{margin-top:-60px; width: 870px; height: 600px;
	transform: translate3d(0px, -60px, 0px);
	transition-duration:0.8s;
	animation: newMove 20s infinite;}
/*@keyframes newMove {*/
	/*0%{transform: translate3d(0px, -60px, 0px);}*/
	/*4%{transform: translate3d(0px, -60px, 0px);}*/
	/*14%{transform: translate3d(0px, -120px, 0px);}*/
	/*18%{transform: translate3d(0px, -120px, 0px);}*/
	/*28%{transform: translate3d(0px, -180px, 0px);}*/
	/*32%{transform: translate3d(0px, -180px, 0px);}*/
	/*42%{transform: translate3d(0px, -240px, 0px);}*/
	/*46%{transform: translate3d(0px, -240px, 0px);}*/
	/*56%{transform: translate3d(0px, -300px, 0px);}*/
	/*62%{transform: translate3d(0px, -300px, 0px);}*/
	/*72%{transform: translate3d(0px, -360px, 0px);}*/
	/*76%{transform: translate3d(0px, -360px, 0px);}*/
	/*86%{transform: translate3d(0px, -420px, 0px);}*/
	/*90%{transform: translate3d(0px, -420px, 0px);}*/
	/*98%{transform: translate3d(0px, -480px, 0px);}*/
	/*100%{transform: translate3d(0px, -480px, 0px);}*/
/*}*/
#main .news1 .swiper-wrapper li{
	width: 870px;
	height: 60px;}
#main .news1 .swiper-wrapper li a:hover{
	color:#333;
}
#main .mt2{
	margin-top: 12px;}

/*第一部分图文阶段*/
#main .pic-text{text-align: left;
	padding-bottom: 20px;}
#main .pic-text h3 a:hover{color:#333;}

/*#footer*/
#footer{
	background: #272727;
	color: #ffffff;
	padding-bottom: 20px;
}
#footer .top{
	padding-top: 36px;
	margin-left: 36px;}
#footer .top .col{
	float: left;width:190px;}
#footer .top .col span a{
	display:block;
	height:36px;
	color: #ffffff;
}
#footer .top .col h3{
	margin-bottom:10px;
}
#footer .top>.right{
	margin-right: 36px;
    margin-top:20px;
}
#footer .clear li{
	float: left;
	margin:20px 10px;}
#footer .bottom{
	margin-top: 10px;}
#indexfooter_1_tCopyRight{
	font-size:14px;color:#fff;
	margin-left: 36px;
}
#indexfooter_1_tCopyRight a{
	font-size:14px;color:#fff;
}
#footer .bottom li{
	float: left;}
#footer .bottom li a{font-size:14px;color:#fff;}
#footer .bottom li b{
	font-weight:normal;margin:0 10px
}